
body { 
    
    border: 2px;
    margin: 10px;
}


#box1 {

border: 5px;
width: 250px;
height: 250px;
font-size: 22px;
font-style: italic;
background-color: powderblue;
padding: 2%;
margin: auto;
}

#box2 {
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    font-style: italic;
    background-color: aqua;
    padding: 2%;
    }

    
#box3 {
    border: 5px;
    width: 250px;
    height: 250px;
    font-size: 22px;
    font-style: italic;
    background-color:blueviolet;
    padding: 2%;
    margin: auto;
    }